{% extends 'layout.html' %}
<title>Classes</title>
{% block body %}
    <form method='POST' action="{{ url_for('user_grades') }}">
        <div class="w3-row-padding w3-padding-64 w3-container">
            <h1>Your Classes:</h1>
            <p>Select the week of your preference, to search for grades</p>  
                <div>
                    <select name=current_week method='GET' action='/'>
                        {% for week in weeks %}
                            <option value="{{week}}" SELECTED>{{week}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">View Week</button>
                    <h2>Current Week {{current_week}}</h2>
                </div>
                <div>
                    <table style="width:100%">
                        <tr>
                            <td>Class:</td>
                            <td>Academic:</td>
                            <td>Team Work:</td>
                            <td>Communication Skills:</td>
                        </tr>
                        {% for class in class_name %}
                        <tr>
                            <td>{{class_name[loop.index0]}}</td>
                            <td>{{academic_grade[loop.index0]}}</td>
                            <td>{{team_work_grade[loop.index0]}}</td>
                            <td>{{communication_skill_grade[loop.index0]}}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </form>
    
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            font-size:20px
        }
        select {
            margin: 30px 10px;
            width: 300px;
            text-align: center;
        }
        h2 {
            float: right;
        }

    </style>

{% endblock %}